@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/mixins";

.container {
  width: 400px;
  height: 400px;
}

.face {
  margin: 30px;
  background-color: $tertiary-dark;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: 0 0 10px $tertiary-dark, 0 0 0 15px $tertiary, 0 0 15px $tertiary,
    0 0 0 25px $tertiary-dark;
}

.background {
  position: absolute;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/body.jpg");
  background-position: 13% 95%;
  background-size: 250%;
}

.background:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.middle {
  @include shadow;
  position: absolute;
  width: 30px;
  height: 30px;

  background-color: $secondary;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  background: radial-gradient($secondary 40%, $secondary-dark);
  z-index: 3;
}

.hands-wrapper {
  position: relative;
  top: 50%;
  left: -2px;
}

.hand {
  @include shadow;
  transform-origin: right;
  transform: rotate(90deg);
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 50%;
  border-radius: 8px;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand-icon {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  transform-origin: center;

  img {
    width: 100%;
    transform-origin: center;
    transform: rotatez(-90deg);
  }
}

.kirby-fix {
  top: calc(50% + 5px);
}

.magolor-fix {
  top: calc(50% - 5px);
}

.hand-alarm {
  border: 1px solid $secondary-dark;
  left: 30%;
  width: 20%;
  height: 6px;
  background-color: $secondary;
}
.hand-hours {
  border: 1px solid $tertiary-dark;
  left: 25%;
  width: 25%;
  background-color: $tertiary;
  height: 5px;
}
.hand-minutes {
  border: 1px solid $tertiary-dark;
  left: 20%;
  width: 30%;
  background-color: $tertiary;
  height: 3px;
}
.hand-seconds {
  border: 1px solid $primary-dark;
  left: 10%;
  width: 40%;
  height: 2px;
  background-color: $primary;
}

.numbers {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  position: absolute;
}
:nth-child(1) {
  --nth-child: 1;
}
:nth-child(2) {
  --nth-child: 2;
}
:nth-child(3) {
  --nth-child: 3;
}
:nth-child(4) {
  --nth-child: 4;
}
:nth-child(5) {
  --nth-child: 5;
}
:nth-child(6) {
  --nth-child: 6;
}
:nth-child(7) {
  --nth-child: 7;
}
:nth-child(8) {
  --nth-child: 8;
}
:nth-child(9) {
  --nth-child: 9;
}
:nth-child(10) {
  --nth-child: 10;
}
:nth-child(11) {
  --nth-child: 11;
}
:nth-child(12) {
  --nth-child: 12;
}

.hour {
  @include shadow;
  @include kirby-font;
  color: $secondary;
  margin: 0;
  left: 45%;
  top: 45%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  transform: rotateZ(calc((var(--nth-child) + 6) * calc(360 / 12) * 1deg))
    translateY(400%)
    rotateZ(calc((var(--nth-child) + 6) * calc(360 / 12) * -1deg));
  -webkit-text-stroke: 1px $secondary-dark;
}
