$primary: #ed93ad;
$primary-light: #f6b8df;
$primary-dark: #9b2140;

$secondary: #f8e000;
$secondary-light: #fff700;
$secondary-dark: #f89800;

$tertiary: #0080f8;
$tertiary-light: #0080f8;
$tertiary-dark: #0046ae;
